@media (min-width: 100px) {
  #contact-button {
    position: relative;
    top: 18px;
  }

  .werkwijze-stap {
    width: 300px;
  }

  #curly-background-B-top {
    height: 500px;
  }

  #video-placeholder {
    height: auto;
  }

  #video-player {
    width: 100%;
  }
}

