@media (min-width: 1024px) {

  #video-placeholder {
    height: 575px;
  }

  #video-player {
    height: 550px;
  }

  #curly-background-A {
    top: 0px;
  }


  .werkwijze-stap {
    width: 250px;
  }


}

