@media (min-width: 768px) {
  #video-placeholder {
    height: 435px;
  }

  #video-player {
    height: 410px;
  }

  #curly-background-A {
    top: 0px;
  }

  .werkwijze-stap {
    width: 300px;
  }


}
