@media (min-width: 1280px) {

  #video-placeholder {
    height: 720px;
  }

  #video-player {
    height: 690px;
  }

  #curly-background-A {
    top: 0px;
  }


  .werkwijze-stap {
    width: 300px;
  }

}


